<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DM-Reports</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .collapse > li {
            padding: 10px 15px;
            margin: 0px;
            color: #ffffff;
            letter-spacing: 1px;
        }
        .dropbtn {
            color: #9d9d9d;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        /*.dropdown-content a:hover {background-color: #ddd;}*/

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["ProjectName"] != null)
                    {
                        <li>@Html.ActionLink("Project", "SelectedProjectList", "Project_Keyword", new { ProjectName = Session["ProjectName"] }, null)</li>
                    }
                    @if (Session["ProjectName"] == null)
                    {
                        <li>@Html.ActionLink("Project", "ProjectList", "Project_Keyword")</li>
                    }
                    @if (Session["ProjectName"] != null)
                    {
                        <li>@Html.ActionLink("Project Keyword", "KeywordListbyProject", "Project_Keyword", new { Project = Session["ProjectName"] }, null)</li>
                    }
                    @if (Session["ProjectName"] != null)
                    {
                        <li>@Html.ActionLink("Project Cities", "ProjectCityListbyProject", "ProjectCities")</li>
                    }


                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropbtn">Master</a>
                        <div class="dropdown-content">
                            <ul>
                                <li>@Html.ActionLink("City", "CityList", "Cities")</li>
                                <li>@Html.ActionLink("Organic", "Organiclist", "Organic")</li>
                                <li>@Html.ActionLink("Organic City", "Organiccitylist", "OrganicCity")</li>
                                <li>@Html.ActionLink("Business City", "KeywordGMBlist", "BusinessCity")</li>
                                <li>@Html.ActionLink("Project Report", "ListProjectreports", "ProjectReport")</li>
                                <li>@Html.ActionLink("Import File", "DM_ReportsImportFile", "Import")</li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Session["ProjectName"] != null)
                    {
                        <li style="font-family:Arial; color:azure">
                            <h5 style="margin-right:20px; margin-bottom:1px; margin-top:18px">
                                @Session["ProjectName"].ToString()
                            </h5>
                        </li>
                    }
                    &nbsp;&nbsp;
                    @if (Session["ProjectName"] != null)
                    {
                        <li>@Html.ActionLink("Change Project", "ProjectList", "Project_Keyword")</li>
                    }
                    <li>
                        @Html.ActionLink("LogOff", "LoginPage", "Login")

                        @*<button onclick="location.href='@Url.Action("LoginPage", "Login")'" id="Logout"><i class="fas fa-sign-out" aria-hidden="true"></i></button>*@
                    </li>
                </ul>

            </div>


        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DM-Reports</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
@if (TempData["Project"] != null)
{
    <script>
        alert('@TempData["Project"]'); 
    </script>
}

@if (TempData["Keyword"] != null)
{
    <script>
        alert('@TempData["Keyword"]'); 
    </script>
}