@model IEnumerable<Keyword_Suggesion.Models.Project>

@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<h2>Project List</h2>
<hr />
<br class="spacer" />

<p>
    @Html.ActionLink("Create New Project", "CreateProjectName")
</p>
<table class="table" id="Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>

            <td>
                @Html.ActionLink("Select Project", "SelectedProjectList", new { ProjectName = item.ProjectName })
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    $('#Table').dataTable({
        responsive: true,
        "pageLength": 100
    });

</script>

@*@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}*@