@model IEnumerable<Keyword_Suggesion.Models.Project>

@{
    ViewBag.Title = "SelectedProjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<h2>Project - @ViewBag.ProjectName</h2>
<hr />
<br class="spacer" />

<table class="table" id="Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.google_Organic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Google_organic_cites)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Google_my_business_cities)
            </th>
            <th style="align-content:center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.google_Organic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Google_organic_cites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Google_my_business_cities)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateProjectName", new { ProjectName = item.ProjectName }) |
                @Html.ActionLink("Keywords", "ProjectKeywordList", new { Project = item.ProjectName }) |
                @Html.ActionLink("Cities", "ProjectCityListbyProject", "ProjectCities", new { ProjectName = item.ProjectName }, null) |
                @Html.ActionLink("Project Keyword", "KeywordListbyProject", new { Project = item.ProjectName })

            </td>
        </tr>
        }
    </tbody>
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script>

    $('#Table').dataTable({
        responsive: true,
        "pageLength": 100
    });

</script>
